.am-card-header-content{
    align-items: flex-start;
}
.body{
    
}

.card{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem;
    height: 100%;
    max-height: 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
}

.title {
    font-size: 1rem;
    height: 90%;
    color: rgb(26, 25, 25);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: 0.5rem;
}